<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amount</key>
	<string>100</string>
	<key>token</key>
	<string>&lt;Inai Username&gt;</string>
	<key>password</key>
	<string>&lt;Inai Password&gt;</string>
	<key>order_id</key>
	<string>ord_2BxEFW43fDO7ZRBQVqBUAdjR1YZ</string>
	<key>base_url</key>
	<string>https://api.inai.io/v1</string>
	<key>country</key>
	<string>USA</string>
	<key>currency</key>
	<string>USD</string>
</dict>
</plist>
