<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>ci_4ec5EKyKr6hKHo5ErJNp27zHcAbjPYvzrEBri9fPBhwd</string>
	<key>base_url</key>
	<string>https://backend-dev.inai-dev.com/v1</string>
</dict>
</plist>
